/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Launcher {
            bindings = <&kp LG(SPACE)>;
            key-positions = <16 14>;
        };

        OpenApps {
            bindings = <&kp LC(SPACE)>;
            key-positions = <19 21>;
        };

        WebTabs {
            bindings = <&kp LA(SPACE)>;
            key-positions = <19 20>;
        };

        WebHist {
            bindings = <&kp LA(LC(SPACE))>;
            key-positions = <16 15>;
        };

        Escape {
            bindings = <&kp ESCAPE>;
            key-positions = <16 17>;
        };

        DelPrevWord {
            bindings = <&kp LA(BACKSPACE)>;
            key-positions = <18 19>;
        };

        SelectAll {
            bindings = <&kp LG(A)>;
            key-positions = <13 14>;
        };

        Save {
            bindings = <&kp LG(S)>;
            key-positions = <14 15>;
        };

        PrevWord {
            bindings = <&kp LA(LEFT_ARROW)>;
            key-positions = <31 32>;
        };

        NextWord {
            bindings = <&kp LA(RIGHT_ARROW)>;
            key-positions = <32 33>;
        };
    };

    behaviors {
        bhm: balanced_homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "Balance Homerow Mod";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "balanced";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Mac {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp GRAVE             &kp Q            &kp W                &bhm LG(L) E      &kp R              &bhm LG(T) T    &kp Y         &bhm LC(LS(NUMBER_7)) U  &bhm LS(LC(NUMBER_8)) I  &bhm LC(LS(NUMBER_9)) O  &kp P                     &kp BACKSLASH
&kp ESCAPE            &bhm LEFT_ALT A  &bhm LEFT_CONTROL S  &bhm LEFT_META D  &bhm LEFT_SHIFT F  &kp G           &kp H         &bhm RIGHT_SHIFT J       &bhm RIGHT_META K        &bhm RIGHT_CONTROL L     &bhm RIGHT_ALT SEMICOLON  &kp SQT
&kp LEFT_PARENTHESIS  &bhm LG(Z) Z     &bhm LG(X) X         &bhm LG(C) C      &bhm LG(V) V       &kp B           &bhm LG(N) N  &kp M                    &kp COMMA                &kp DOT                  &bhm LG(F) SLASH          &kp RIGHT_PARENTHESIS
                                                            &tog 0            &lt 1 SPACE        &lt 2 TAB       &lt 2 ENTER   &lt 0 SPACE              &kp LC(LG(RALT))
            >;

            label = "Mac";
        };

        Arrows {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &trans  &trans         &trans      &trans    &trans             &trans              &trans          &trans               &trans  &trans
&trans  &trans  &trans  &kp BACKSPACE  &kp DELETE  &trans    &mt LG(LEFT) LEFT  &mt PAGE_DOWN DOWN  &mt PAGE_UP UP  &mt LG(RIGHT) RIGHT  &trans  &trans
&trans  &trans  &trans  &trans         &trans      &trans    &trans             &trans              &kp LC(C)       &trans               &trans  &trans
                        &trans         &trans      &trans    &trans             &trans              &trans
            >;

            label = "Arrows";
        };

        Numbers {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp PERCENT    &kp CARET    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PIPE           &trans      &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PLUS   &kp ASTERISK
&trans  &kp HASH       &kp AT_SIGN  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp ASTERISK       &trans      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS  &kp KP_DIVIDE
&trans  &kp AMPERSAND  &kp DOLLAR   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp EXCLAMATION    &kp PERIOD  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL  &kp ENTER
                                    &kp LGUI              &trans                 &kp SPACE          &trans      &kp NUMBER_0  &kp RALT
            >;

            label = "Numbers";
        };

        BT {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans        &trans  &bt BT_CLR_ALL
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &bt BT_SEL 3  &bt BT_SEL 4  &trans        &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans  &bt BT_CLR
                        &trans  &trans  &trans    &trans  &trans        &trans
            >;

            label = "BT";
        };
    };
};
