/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp GRAVE             &kp Q           &kp W               &mt LG(E) E      &kp R              &mt LG(T) T    &kp Y        &mt LC(LS(NUMBER_7)) U  &mt LS(LC(NUMBER_8)) I  &mt LC(LS(NUMBER_9)) O  &kp P                    &kp BACKSLASH
&kp ESCAPE            &mt LEFT_ALT A  &mt LEFT_CONTROL S  &mt LEFT_META D  &mt LEFT_SHIFT F   &kp G          &kp H        &mt RIGHT_SHIFT J       &mt RIGHT_META K        &mt RIGHT_CONTROL L     &mt RIGHT_ALT SEMICOLON  &kp SQT
&kp LEFT_PARENTHESIS  &mt LG(Z) Z     &mt LG(X) X         &mt LG(C) C      &mt LG(K_PASTE) V  &kp B          &mt LG(N) N  &kp M                   &kp COMMA               &kp DOT                 &mt LG(F) SLASH          &kp RIGHT_PARENTHESIS
                                                          &kp LGUI         &lt 1 SPACE        &lt 2 TAB      &lt 2 ENTER  &lt 3 SPACE             &kp RALT
            >;
        };

        Arrows {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans     &trans     &trans         &trans      &trans    &trans             &kp LA(LEFT)        &kp LA(BACKSPACE)  &kp LA(RIGHT_ARROW)  &trans  &trans
&trans  &kp LG(A)  &kp LG(S)  &kp BACKSPACE  &kp DELETE  &trans    &mt LG(LEFT) LEFT  &mt PAGE_DOWN DOWN  &mt PAGE_UP UP     &mt LG(RIGHT) RIGHT  &trans  &trans
&trans  &trans     &trans     &trans         &trans      &trans    &trans             &trans              &kp LC(C)          &trans               &trans  &trans
                              &trans         &trans      &trans    &trans             &trans              &trans
            >;
        };

        Numbers {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp PERCENT    &kp CARET    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PIPE           &trans      &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PLUS   &kp ASTERISK
&trans  &kp HASH       &kp AT_SIGN  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp ASTERISK       &trans      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS  &kp KP_DIVIDE
&trans  &kp AMPERSAND  &kp DOLLAR   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp EXCLAMATION    &kp PERIOD  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL  &kp ENTER
                                    &kp LGUI              &trans                 &kp SPACE          &trans      &kp NUMBER_0  &kp RALT
            >;
        };

        Windows {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
